
.container {
  min-height: 100vh;
  padding: 0 0.5rem;
}

.main {
  padding: 3rem 0 !important;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
}

.goback {
  color: rgb(75, 127, 223) !important;
  font-size: 1.3em;
  font-weight: 500;
  margin-left: 15%;
  position: absolute;
  bottom: 15%;
}
.goback span{
  margin-left: 3px;
}

.single {
  padding: 1em 1em !important; 
  background: #fff;
  display: block;
  margin: 20px 10px !important;
  border-left: 8px solid #fff;
  width: 40%;
}
.single:hover {
  border-left: 8px solid #4979ff !important; 
}
.inlineItem{ 
  width: 100%;
  display: flex;
}
.mr1{
  margin-right: 30px;
}
.ml1{
  margin-left: 30px !important;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .single{
    width: 80%;
  }

  .passengerDatas{
    padding: 3rem 2em !important;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

